<launch>
    <node pkg="urg_node" type="urg_node" name="urg_node" output="screen">
        <param name="serial_port" value="$(optenv devid /dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00)"/>
        <!--<param name="angle_min" value="-2.335"/>-->
        <!--<param name="angle_min" value="2.335"/>-->
        <param name="frame_id" value="base_scan"/>
    </node>

    <!--base_linkは高さ0-->
    <node pkg="tf" type="static_transform_publisher" name="laser_transform" args="$(optenv laserpos 0.044 0 0.209 0 0 0) base_link base_scan 100"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urg_launch)/rviz/2d.rviz"/>
</launch>